#modal {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;

}

.modal-content {
  height: 500px;
  width: 300px;
  position: fixed;
  background: white;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

.modal-text {
  box-sizing: border-box;
  padding: 20px;
}

.modal-button-container {
  position: absolute;
  background: white;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
}
